<section class="vh-100 card-body p-3">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="/images/signup-photo.jpg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="/auth/login">
          <!-- Username input -->
          <div class="form-group">
            <label for="form1Example13">Username</label>
            <input
              type="text"
              id="form1Example13"
              class="form-control form-control-lg"
              name="username"
            />
          </div>

          <!-- Email input -->
          <div class="form-group">
            <label for="form1Example14">Email address</label>
            <input
              type="email"
              id="form1Example14"
              class="form-control form-control-lg"
              name="email"
            />
          </div>

          <!-- Password input -->
          <div class="form-group">
            <label for="form1Example15">Password</label>
            <input
              type="password"
              id="form1Example15"
              class="form-control form-control-lg"
              name="password"
            />
          </div>

          <div class="d-flex justify-content-between align-items-center mb-4">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign
              in</button>

            <!-- Divider -->
            <div class="divider mx-3">
              <p class="text-center fw-bold mb-0 text-muted">OR</p>
            </div>

            <!-- Create account link -->
            <p class="mb-0">
              <a href="signup" class="fw-bold text-body">Create an account</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>