<div class="events-album">
  <a
    target="_blank"
    href="https://worldsmarathons.com/s?search=&fromDistance=5000&toDistance=5000"
  ><div class="card">
      <img class="card-img-top" src="./images/events/5k.jpg" alt="5K" />
      <div class="card-body">
        <p class="card-text"><a>
            More details
          </a></p>
      </div>
    </div></a>
  <a
    target="_blank"
    href="https://worldsmarathons.com/s?search=&fromDistance=10000&toDistance=10000"
  ><div class="card">
      <img class="card-img-top" src="./images/events/10.jpg" alt="10k" />
      <div class="card-body">
        <p class="card-text"><a>
            More details
          </a></p>
      </div>
    </div></a>
  <a
    target="_blank"
    href="https://worldsmarathons.com/s/running/half_marathon"
    ;
  ><div class="card">
      <img class="card-img-top" src="./images/events/21.jpg" alt="21k" />
      <div class="card-body">
        <p class="card-text"><a>
            <a>More details</a>
          </a></p>
      </div>
    </div></a>
  <a
    target="_blank"
    href="https://worldsmarathons.com/s/running/half_marathon"
    ;
  ><div class="card">
      <img class="card-img-top" src="./images/events/42.jpg" alt="42K" />
      <div class="card-body">
        <p class="card-text"><a
            onclick="window.location.href='https://worldsmarathons.com/s/running/full_marathon"
          >
            More details
          </a></p>
      </div>
    </div></a>
</div>