<div class="home-page">
  <img src="/images/home-page.jpg" alt="athletes page" />
  <script src="/js/script.js"></script>
</div>

{{!-- <div class="mobile-version-nav">
  <a class="nav-link" href="/home">Home</a>
  <a class="nav-link" href="/athlete/athlete-list">Athletes</a>
  <a class="nav-link" href="/Events">Events</a>
</div>
<div>
  {{#if currentUser}}
    <a class="btn btn-primary btn-gray-300" href="/auth/logout"><button
      >Logout</button></a>
  {{else}}
    <a class="btn btn-primary btn-gray-300 nav-link" href="/auth/signup"><button
      >Sign up</button></a>
    <a class="btn btn-primary btn-gray-300 nav-link" href="/auth/login"><button
      >Login</button></a>
  {{/if}}
</div> --}}