<div class="athletes-page">
  <form method="GET" action="/athletes/search">
    <input name="athletesName" type="text" />
    <button class="regular-btn">Search an Athletes</button>
  </form>
  <br />
</div>